<div class="large-6 large-offset-3 columns" role="content" ng-controller="LoginController as lgn" ng-submit="submit()">
    <article>
        <h3 style="color:gray; opacity:0.7"> Log In </h3>
        <form data-abide>
            <div class="small email-field inline">
                <label>Email <small>required</small>
                    <input ng-model="email" type="email" required>
                </label>
                <small class="error">An email address is required.</small>
                <small ng-show="emailTaken">Email address already in use.</small>
            </div>
            <div class="small password-field inline">
                <label>Password <small>required</small>
                    <input ng-model="password" type="password" id="password" required pattern="[a-zA-Z]+">
                </label>
                <small class="error">Your password must match the requirements</small>
            </div>

            <button type="small submit">Submit</button>
        </form>
    </article>
</div>