<!doctype html>
<html class="no-js" lang="en" ng-app="qred-profile">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    
       
  <div class="row">
    <div class="large-3 columns">
      <div class="panel">
        <h1>Profile</h1>
      </div>
    </div>
    <div class="large-9 columns">
    <ul class="right button-group">
      <a href="wall.html" class="success button inline">View My Wallet</a>
      <a href="login.html" class="button inline">Edit My Profile</a>
      <a href="#" class="alert button inline">Sign Out</a>
      </ul>
      </div>
  </div>
   
  <div class="row">
  
     
    <div class="large-4 columns " ng-controller="ProfileController">
      <div class="panel">
        <a href="#"><img ng-src="{{profile.pic}}"/></a>
        <h5>{{profile.name}}</h5>
        <hr>
        <h6 ng-repeat="address in profile.addresses">{{ address }}</h6>
		<h6>{{ profile.city }}, {{ profile.state }}</h6>
		<h6>{{ profile.postal }} {{ profile.country}}</h6>
        <hr>
        <h6>{{ profile.company }}</h6>
                <ul class="circle">
  <li>{{ profile.title }}</li>
    </ul>
        <hr>
        <h6> Phone Number </h6>
        <ul class="circle">
  <li ng-repeat="number in profile.phone_numbers">{{number}}</li>
    </ul>
    <hr>
         <h6> Email Address </h6>
        <ul class="circle">
  <li>{{ profile.email }}</li>
    </ul>
    <hr>
        <h6> Website </h6>
        <ul class="circle">
  <li ng-repeat="site in profile.sites"><a ng-href="{{site.url}}">{{ site.name }}</a></li>
    </ul>
    <hr>
      </div>
    </div>
    
     
     
    <div class="large-8 columns" ng-controller="WallController">
 
       
      <div class="row" ng-repeat="post in posts | limitTo:5">
        <div class="large-2 columns small-3"><img ng-src="{{post.pic}}"/></div>
        <div class="large-10 columns">
          <p><strong>{{post.author}}</strong> {{post.content}} </p>
          <ul class="inline-list">
            <li><a href="">Reply</a></li>
            <li><a href="">Share</a></li>
          </ul>
 <div ng-show="post.comments.length != 0">
          <h6>{{post.comments.length}} Comments</h6>
          <div class="row" ng-repeat="comment in post.comments">
            <div class="large-2 columns small-3"><img ng-src="{{comment.pic}}"/></div>
            <div class="large-10 columns"><p><strong>{{comment.author}}</strong> {{comment.content}}</p></div>
          </div>
		  </div>
        </div>
      <hr/>
      </div>
    
    </div>
 
  </div>
 
 
   
 
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-5 columns">
          <p>© Copyright HackSC. </p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
            <li><a href="#">Section 5</a></li>
            <li><a href="#">Section 6</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
