
<div class="row">
    <div class="large-3 columns" style = "padding:0px">
      <div class="panel">
        <h2>Edit Profile</h2>
      </div>
    </div>
    <div class="large-9 columns">
    <ul class="right button-group">
      <a href="#/wall" class="success button inline">View My Wallet</a>
      <a href="#/my" class="secondary button inline">View My Card</a>
      <a href="#/" class="button inline">View My Profile</a>
      <a href="#" class="alert button inline">Sign Out</a>
      </ul>
      </div>
  </div>
   
  <div class="row">
    <article>
 
       <form data-abide ng-controller="EditProfileController as ep" ng-submit="submit()">
  <h3> My Account </h3>
  <div class="name-field">
    <label>Your name <small>required</small>
      <input ng-model="profile.name" type="text" required pattern="[a-zA-Z ]+">
    </label>
    <small class="error">Name is required and must be a string.</small>
  </div>
  <div class="email-field">
    <label>Email <small>required</small>
      <input ng-model="profile.email" type="email" required>
    </label>
    <small class="error">An email address is required.</small>
  </div>
    <div class="password-field">
    <label>Password <small>required</small>
      <input ng-model="password" type="password" id="password"  pattern="[a-zA-Z]+">
    </label>
    <small class="error">Your password must match the requirements</small>
  </div>
  <div class="password-confirmation-field">
    <label>Confirm Password <small>required</small>
      <input type="password"  pattern="[a-zA-Z]+" data-equalto="password">
    </label>
    <small class="error">The password did not match</small>
  </div>
  <hr>
  <h3> My Details </h3>
  <div ng-repeat="site in profile.sites" class="url-field">
    <label>Edit a website
      <input ng-model="site.name" type="text" required>
	  <input ng-model="site.url" type="url" required>
    </label>
    <small class="error">This is not a valid URL</small>
  </div> 
  <div class="url-field">
    <label>Add a website 
      <input placeholder="Site name" ng-model="new_site_name" type="text" >
      <input placeholder="Site URL" ng-model="new_site_url" type="url" >
    </label>
    <small class="error">This is not a valid URL</small>
  </div>
<label ng-repeat="address in profile.addresses"> Edit an Address Line
  <input ng-model="address" type="text"> </label>
  <label> Add an Address Line
  <input ng-model="new_address" type="text"> </label>
  <label> City
  <input ng-model="profile.city" type="text"> </label>
  <label> State
  <input ng-model="profile.state" type="text"> </label>
  <label> Postal Code
  <input ng-model="profile.postal" type="text"> </label>
  <label> Country
  <input ng-model="profile.country" type="text"> </label>

    <label ng-repeat="number in profile.phone_numbers"> Edit a Phone number
  <input ng-model="number" type="text"> </label>
    <label> Add a Phone number
  <input ng-model="new_phone_number" type="text"> </label>

    <label> Company
  <input ng-model="profile.company" type="text"> </label>
      <label> Title
  <input ng-model="profile.title" type="text"> </label>
  <hr>
  <button type="submit">Update</button>
</form>
 
      </article>
    </div>

