
   <div class="row">
    <div class="large-3 columns">
      <div class="panel">
        <h1>My Wallet</h1>
      </div>
    </div>
    <div class="large-9 columns">
    <ul class="right button-group">
      <a href="#/" class="success button inline">View My Profile</a>
      <a href="#/my" class="secondary button inline">View My Card</a>
      <a href="#edit" class="button inline">Edit My Profile</a>
      <a href="#" class="alert button inline">Sign Out</a>
      </ul>
      </div>
  </div>


        <div ng-controller="RolodexController as rolo" style= "font-family: 'Alegreya', serif;">

                <div class="large-12 columns" style = "padding-top: 0.5cm " ng-repeat="duocards in cards" ng-if="$index % 2 == 0">
                    <div class="row">
                         <a href="profile.html" ng-repeat="card in cards.slice($index, $index+2)"> 
                            <div class="large-6 small-6 columns" >
                                <div class="panel" onMouseOver="this.style.backgroundColor='#E0E0E0'" onMouseOut="this.style.backgroundColor='white'" style = "padding:30px">
                                    <h5 style="font-family: 'Alegreya', serif">{{ card.name }}</h5>
                                    <h6 style="font-family: 'Alegreya', serif" class="subheader">{{ card.company }}</h6>
                                    <div class="row">
                                    <div class="large-5 columns" style="padding: 0px"><i class="fi-telephone"></i> {{card.phone_number}}</div>
                                    <div class="large-7 columns end" style="padding: 0px"> <i class="fi-mail"></i> {{ card.email }}</div></div>
                                    <div class="row">
                                    <i class="fi-web"></i> {{card.site}}
                                    </div>
                                    <div class="row">
                                    <i class="fi-address-book"></i> {{card.address}}, {{card.city}}, {{card.state}}, {{card.country}}
                                    </div>
                                </div> 
                            </div>
                        </a> 
                 </div> 
            </div>
 
        </div>
		